.addNewItem a:hover{
    cursor: pointer;
}
.addNewItem{
    padding: 0;
    i{
    top: -1px;
     right: 12px;
    }
}

.btn-ok{
    margin-top: 29px;
}

.first-th{
    min-width: 132px;
}

// select{
//     margin-top: 1px;
// }