.btn-show-zero{
    position: absolute;
    right: 25px;
    top: 14px;
    cursor: pointer;
}

.btn-show-zero:hover{
    color: #4dc4ff;
}

.table-colspan-2 tr>th{
    width: 16.6%;
}
.table-colspan-2 tr>td{
    width: 8.3%;
}