.forInputAddItem{
    top: -24px;
    right: -11px;
    width: 155px;
   
}

.align-center{
    text-align: center;
}

.position-relative{
    position: relative;
    text-align: center;
  }
  
  .class-pm-icon{
    position: absolute;
    left: 8px;
    top: 0px;
  }
  
  .width-110{
    min-width: 130px;
  }