.table {
  .align-center{
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 100px!important;
  }
}
.table1 td {
  border: 1px solid rgba(255,255,255,.3)!important;
}

.searchh {
  height: 42.5px;
  i {
    float: left;
    padding: 5px 0;
    color: rgba(255, 255, 255, 0.582);

  }
  .input {
    padding-top: 19px;
    position: relative;
    border: none;
    background-color: transparent;
  }
}
.table > tbody> tr > td :last-child {
  padding-right: 0!important;
  width: 100px!important;
}
.table>tbody>tr>td:last-child {
  min-width: 100px!important;
}
.reason-msg{
  border: 1px solid #bad3ea;
  font-size: 17px;
  padding: 20px;
  background-color: rgba(8, 8, 8, 0.06);
  text-align: center;
  box-shadow: 0px 9px 20px -12px #000000;
  position: relative;
  i{
    color: white;
    position: absolute;
    top: 5px;
    left: 6px;
    font-size: 20px;
  }
}

.employment-school {
  .addNewItem {
    position: absolute;
    top: 4px;
    right: 0px;
    a {
      span {
        padding-right: 35px;
      }
    }
  }
}

.bo-card {
  overflow: hidden;
  margin-bottom: 22px;
  height: 170px;
}

.bottom-padding {
  margin-bottom: 34px;
}

.triggIcon {
  margin-top: 5px;
  right: 0px;
  top: auto;
}

.interview-list {
  position: relative;

  td {
    background-color: rgba(0, 94, 212, 0.22);
  }
}

.listTable {
  border-bottom: 1px solid #8ab0d9;
  margin-bottom: 15px;
}

.on-table {
  padding: 0;
  a i {
    top: -1px;
    right: 15px;
  }
}

.titleStaged {
  font-size: 17px;
  position: relative;
  top: -21px;
  color: rgba(255, 255, 255, 0.44);
}

.expand-btn {
  position: absolute;
  top: 7px;
  left: 214px;
  button {
    font-size: 13px;
  }
}

.collapses {
  margin-top: -8px;
}

.moreLink {
  position: absolute;
  cursor: pointer;
  top: 1px;
  right: 20px;

  a {
    padding-left: 10px;
  }

  span {
    padding-right: 5px;
  }

  i {
    position: relative;
    top: 2px;
    right: 0px;
  }
}

.show {
  display: block !important;
}

.btnOpptions {
  position: relative;
  bottom: 26px;
  right: -85px;
  width: 0px;

  a {
    color: white;
  }
}

.jt-dots-menu {
  position: absolute;
  top: 7px;
  right: 31px;
  .dot {
    font-size: 30px;
  }
  .moreOptionsJT {
    top: -25px;
    width: 280px;
    a {
      padding: 3px 8px;
    }
  }
}

.dot {
  position: relative;
  cursor: pointer;
}
.dot:hover .moreOptionsJT {
  display: block;
}

.moreOptionsJT {
  border-radius: 10px;
  display: none;
  width: 150px;
  background-color: rgba(80, 111, 164, 0.9);
  position: absolute;
  top: -48px;
  z-index: 100;
  right: 0px;
  box-shadow: 0px 9px 38px -11px #000000;
  a {
    width: 100%;
    color: rgb(161, 173, 190);
    float: right;
    font-size: 16px;

    border-bottom: 1px solid #6075bd;
    i {
      float: right;
      padding: 5px 10px;
    }
    span {
      font-family: "Roboto";
      float: left;
      font-size: 15px;
      padding: 5px 10px;
    }
  }
}
.moreOptionsJT a:hover {
  transition: 0.1s;
  border-radius: 10px;
  background-color: #5b77a7;
  color: white;
  box-shadow: 0px 9px 38px -11px #000000;
  width: 110%;
  left: 6px;
  position: relative;
  i {
    font-size: 20px;
  }
  span {
    font-size: 17px;
  }
}

.emp-stages{
  bottom: -4px;
  top: auto;
  a{
    border-radius: 0 0 10px 10px;
  }
}

.search {
  height: 42.5px;
  margin-top: 2px;
  i {
    float: left;
    padding: 5px 0;
    color: rgba(255, 255, 255, 0.582);
  }
  .input {
    padding-top: 15px;
    position: relative;
    border: none;
    background-color: transparent;
  }
}

.no-visible {
  visibility: hidden;
}

.bo-border {
  border-top: 2px solid rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.23);
  &:hover {
    background-color: rgba(0, 0, 0, 0.23) !important;
  }
}

.sub-body {
  border-top: 2px solid rgb(255, 255, 255);
}

.table-header-1 {
  background-color: rgba(0, 0, 0, 0.23);
  color: rgb(76, 192, 252);
  &:hover {
    background-color: rgba(0, 0, 0, 0.23);
  }
}

.table-body-1 {
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 0, 0, 0.11);
  }
}

.table-header-2 {
  background-color: rgba(0, 0, 0, 0.1);
  color: rgb(234, 222, 171);
  th:first-child {
    width: 100px !important;
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }
}

.table-body-2 {
  td:first-child {
    width: 100px !important;
  }
  background-color: rgba(0, 0, 0, 0.1);
  &:hover {
    background-color: rgba(0, 0, 0, 0.03);
  }
}

.table > tbody > tr > th {
  border: none;
  min-width: 100px;
}

.table > tbody > tr > td:last-child {
  padding-right: 0 !important;
  width: 100px !important;
}

.btnHover {
  margin-right: 2px;
}
.f-left {
  float: left;
}

.btn-reason>button{
  margin: 30px 10px;

}

.placement-reason {
  padding: 0 20px;
}

tr:nth-last-child(-n + 1) > td:last-child .btnOpptions:hover .moreOptions {
  top: 0px !important;
}

.sc-bottom-padding{
  padding-bottom: 15px;
}

.sc-container{
  margin-top: 105px;
}

.grey-title{
  font-size: 13px;
  font-weight: 100;
}

@media only screen and (max-width: 815px) {
  .moreLink {
    position: relative;
    text-align: center;
  }
}

@media only screen and (max-width: 720px) {
  .card-header {
    height: 70px;
    text-align: left;
  }
  .smallTitle {
    margin-left: 0px;
  }
}

@media only screen and (max-width: 450px) {
  .card-header {
    height: 110px;
  }
}
