.main{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 1;
    padding: 12px;
    .item{
        box-shadow: 0px 0px 55px -15px #ffffff;
        background-color: rgba(45, 83, 128, 0.75);
        border: 1px solid rgba(255, 255, 255, 0.47);
        border-radius: 21px;
        position: relative;
        top: 30%;
        left: 33%;
        width: 40%;
        height: 182px;
        padding: 15px;
        .buttons{
            text-align: right;
            button{
                margin: 0px 5px;
                &:hover{
                    color: rgb(241, 182, 70);
                }
            }
        }
        .head-title{
            font-size: 17px;
            text-align: center;
            padding: 5px;
        }
    }
}

.error{
    visibility: hidden;
    color: #bb8b8b;
    position: relative;
    top: 7px;
}

.show{
    visibility: visible;
}

.search{
    height: 43px;
    margin: 0 auto;
    i{
        float: left !important;
        padding: 5px 0;
        color: rgba(255, 255, 255, 0.582);
    }
    .input{
        padding-top: 7px;
        position: relative; 
        border: none;
        background-color: transparent;
    } 
}

@media only screen and (max-width: 660px) {
    .item{
        width: 90% !important;
        left: 7% !important;

    }
}