<div ngForm #orientationForm="ngForm" (keydown.control.s)="onSave(orientationForm)">

    <app-ba-card cardTitle="Event">
        <div class="row">
            <div class="form-group col-sm-4">
                <label for="military">Military Base</label>
                <select id="military" class="form-control" name="military" [(ngModel)]="entity.baseId" addNewItem
                    ref="settings/base-name" (onclick)="navigate()" (change)="changeMilitaryBase()">
                    <option hidden [ngValue]="undefined">select...</option>
                    <option [ngValue]="null">select...</option>
                    <option *ngFor="let base of militaryBases" [ngValue]="base.id">{{base.name}}</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="adreess-country">Country</label>
                <select id="adreess-country" class="form-control" name="adreess-country" [(ngModel)]="entity.country" required
                    (change)="changeCompany()" [ngClass]="{'ng-submit' : orientationForm._submitted}">
                    <option hidden [ngValue]="undefined">select...</option>
                    <option [ngValue]="null">select...</option>
                    <option *ngFor="let country of countries" [ngValue]="country.countryShortCode">
                        {{country.countryName}}</option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="adreess-state">State</label>
                <select id="adreess-state" class="form-control" name="adreess-state" [(ngModel)]="entity.state"
                    [ngClass]="{'ng-submit' : orientationForm._submitted}">
                    <option hidden [ngValue]="undefined">select...</option>
                    <option [ngValue]="null">select...</option>
                    <option *ngFor="let state of states" [ngValue]="state.shortCode">{{state.name}}
                    </option>
                </select>
            </div>
            <div class="form-group col-sm-4">
                <label for="city">City</label>
                <input id="city" type="text" name="city" class="form-control" [(ngModel)]="entity.city"
                placeholder="City" required [ngClass]="{'ng-submit' : orientationForm._submitted}">
            </div>
            <div class="form-group col-sm-4">
                <label for="address">Address</label>
                <input id="address" type="text" name="address" class="form-control" [(ngModel)]="entity.address"
                placeholder="Address" required [ngClass]="{'ng-submit' : orientationForm._submitted}">
            </div>
            <div class="form-group col-sm-4">
                <label for="zip">Zip code</label>
                <input id="zip" type="text" name="zip" class="form-control" [(ngModel)]="entity.zip"
                    placeholder="Zip code"
                    onkeypress='return event.charCode >= 48 && event.charCode <= 57'
                    maxlength={{validationMaxlength(entity)}} minlength={{validationMinlength(entity)}}
                    required [ngClass]="{'ng-submit' : orientationForm._submitted}">
            </div>


            <div class="form-group col-sm-4">
                <label for="graduationDate">Date & Time</label>
                <input id="graduationDate" type="datetime-local" class="form-control" name="graduationDate" required
                    [ngModel]="entity.date | date:'yyyy-MM-ddThh:mm'" (blur)="entity.date = $event.target.value"
                    [ngClass]="{'ng-submit' : orientationForm._submitted}" />
            </div>



        </div>
        <app-ba-card cardTitle="Attendees" *ngIf="entity.id">
            <div class="addNewItem moreLink">
                <a (click)="createNewItem()">
                    <i class="fa fa-user-plus plus" aria-hidden="true"></i>
                    <span>Attendee </span>
                </a>
            </div>

            <div class="card">
                <div class="allTable " [ngClass]="{'with-padding-bottom' : newItem}">
                    <table class="table table-hover">
                        <thead>
                            <tr class="black-muted-bg">
                                <th>Name</th>
                                <th>Confirmed</th>
                                <th>Attended</th>
                                <th>Notes</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="newItem">
                                <td>
                                    <div class="form-group">
                                        <label class="labelTxt">Soldier name</label>
                                        <div class="form-control search">
                                            <label for="search">
                                                <i class="fa fa-search" aria-hidden="true"></i>
                                            </label>
                                            <input id="search" autocomplete="off" class="form-control input" name="search" max-num-list='10'
                                                value-formatter="firstName lastName" list-formatter="firstName lastName"
                                                auto-complete [(ngModel)]="application"
                                                [source]="observableSource(application)" display-property-name=name
                                                min-chars="3" placeholder='search' match-formatted="true" />
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="labelTxt"> </label>
                                        <div class="">
                                            <i (click)="newItem.confirmed = !newItem.confirmed"
                                                class="fa {{newItem.confirmed ? 'fa-check-square-o': 'fa-square-o'}}  with-checkbox"
                                                aria-hidden="true" data-toggle="tooltip" title="Change"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="form-group">
                                        <label class="labelTxt"> </label>
                                        <div class="">
                                            <i (click)="newItem.attended = !newItem.attended"
                                                class="fa {{newItem.attended ? 'fa-check-square-o': 'fa-square-o'}}  with-checkbox"
                                                aria-hidden="true" data-toggle="tooltip" title="Change"></i>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    <div class="form-group">
                                        <label class="labelTxt"> </label>
                                        <div class="">
                                            <input type="text" name="notes" class="form-control"
                                                [(ngModel)]="newItem.notes">
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <a class="btnHover" (click)="addAttendee()"><i class="fa fa-floppy-o"
                                            aria-hidden="true" title="Save"></i>
                                    </a>
                                    <a class="btnHover" (click)="newItem = null"><i class="fa fa-times "
                                            aria-hidden="true" title="Cancel"></i>
                                    </a>
                                </td>
                            </tr>
                            <tr *ngFor="let item of entity.attendees; let i=index"
                                [ngClass]="{'inactive-record' : !item.application.isActive}">
                                <td>{{item.application.firstName}} {{item.application.lastName}}</td>
                                <td>
                                    <ng-template [ngIf]="editItem && editItem.id == item.id" [ngIfElse]="view2">
                                        <i (click)="editItem.confirmed = !editItem.confirmed"
                                            class="fa {{editItem.confirmed ? 'fa-check-square-o': 'fa-square-o'}} with-checkbox"
                                            aria-hidden="true" data-toggle="tooltip" title="Change"></i>
                                    </ng-template>
                                    <ng-template #view2>
                                        <i class="fa {{item.confirmed ? 'fa-check-square-o': 'fa-square-o'}}"
                                            aria-hidden="true" data-toggle="tooltip" title="Change"></i>
                                    </ng-template>
                                </td>
                                <td>
                                    <ng-template [ngIf]="editItem && editItem.id == item.id" [ngIfElse]="view1">
                                        <i (click)="editItem.attended = !editItem.attended"
                                            class="fa {{editItem.attended ? 'fa-check-square-o': 'fa-square-o'}} with-checkbox"
                                            aria-hidden="true" data-toggle="tooltip" title="Change"></i>
                                    </ng-template>
                                    <ng-template #view1>
                                        <i class="fa {{item.attended ? 'fa-check-square-o': 'fa-square-o'}}"
                                            aria-hidden="true" data-toggle="tooltip" title="Change"></i>
                                    </ng-template>
                                </td>

                                <td>
                                    <ng-template [ngIf]="editItem && editItem.id == item.id" [ngIfElse]="view3">
                                        <input type="text" name="notes-{{i}}" class="form-control"
                                            [(ngModel)]="editItem.notes">
                                    </ng-template>
                                    <ng-template #view3>
                                        <span>{{item.notes}}</span>
                                    </ng-template>
                                </td>
                                <td>
                                    <ng-template [ngIf]="editItem && editItem.id == item.id" [ngIfElse]="view4">

                                        <a class="btnHover" (click)="updateAttendee(i)"><i class="fa fa-floppy-o"
                                                aria-hidden="true" title="Save"></i></a>
                                        <a class="btnHover" (click)="editItem = null"><i class="fa fa-times "
                                                aria-hidden="true" title="Cancel"></i></a>
                                    </ng-template>

                                    <ng-template #view4>
                                        <a class="btnHover">
                                            <i class="fa fa-pencil" (click)="editAttendee(i)" aria-hidden="true"
                                                data-toggle="tooltip" title="Edit"></i>
                                        </a>
                                        <a class="btnHover">
                                            <i class="fa fa-arrows" (click)="changeEvent(item)" aria-hidden="true"
                                                data-toggle="tooltip" title="Change event"></i>
                                        </a>
                                        <a class="btnHover">
                                            <i class="fa fa-trash-o" (click)="confirmDedleteAttendee(item)"
                                                aria-hidden="true" data-toggle="tooltip" title="Delete"></i>
                                        </a>
                                    </ng-template>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </app-ba-card>

    </app-ba-card>
    <button type="submit" class="btn btn-primary" (click)="onSave(orientationForm)">
        <i class="fa fa-floppy-o" aria-hidden="true"></i> save
    </button>

</div>

<div *ngIf="isChangeEvent" class="main">
    <div class="item">
        <p class="head-title"> Please select date of new event for {{moveAttendee.application.firstName}}
            {{moveAttendee.application.lastName}}</p>
        <select class="form-control" name="classes" [(ngModel)]="newEventId">
            <option hidden [ngValue]="underfined">select...</option>
            <option *ngFor="let event of orientationEvents" [ngClass]="{'grey': false}" [ngValue]="event.id">
                {{event.date | date:'MM/dd/yyyy'}}
                <span *ngIf="event.baseId">/</span>
                {{getMilitaryBaseById(event.baseId)}}
                / amount: {{event.attendees.length}}
                <span *ngIf="event.id === this.entity.id">(current)</span>
            </option>
        </select>

        <div class="buttons">
            <button class="btn btn-default" (click)="isChangeEvent = false">CANCEL</button>
            <button class="btn btn-default" [disabled]="newEventId == entity.id"
                (click)="moveAttendeeEvent()">OK</button>
        </div>
    </div>
</div>

<app-confirm></app-confirm>
<load-data *ngIf="showLoadData" [fullscreen]='true'></load-data>
