<div class="card" appScrollSpy (onPageEnd)="loadMore()" >
  <div class="filter" [ngClass]="{'height' : !showfilter}" (keyup.enter)="onSearch()">
    <a (click)="showfilter = !showfilter" class="filter-icon">
      <i class="fa fa-filter" aria-hidden="true"></i>
      <i class="fa {{showfilter ? 'fa-chevron-up' : 'fa-chevron-down'}} chevron-icon" aria-hidden="true"></i>
    </a>
    <a *ngIf="showfilter" (click)="filter = {active :true}; onSearch() " class="btn resetFilter">reset filter
      <i class="fa fa-times" aria-hidden="true"></i>
    </a>
    <div class="row allInputs" *ngIf="showfilter">
      <div class="form-group col-lg-4 col-sm-6">
        <label for="filterName">Name</label>
        <input id="filterName" type="text" [(ngModel)]="filter.name" class="form-control" name="filterName"
               placeholder="Name">
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="trade">Source</label>
        <select id="trade" class="form-control" name="trades-{{i}}" [(ngModel)]="filter.affiliateId">
          <option [value]="undefined">select...</option>
          <option *ngFor="let affiliate of affiliates" [value]="affiliate.id"
                  [ngClass]="{'grey': !affiliate.isActive}">
            {{affiliate.description}}
          </option>
        </select>
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="state-f">Country</label>
        <select id="state-f" class="form-control" name="country-f" [(ngModel)]="filter.country"
                (change)="changeCompany()">
          <option hidden [ngValue]="undefined">select...</option>
          <option [ngValue]="null">select...</option>
          <option *ngFor="let country of countries" [ngValue]="country.countryShortCode">
            {{country.countryName}}</option>
        </select>
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="state-f">State</label>
        <select class="form-control" name="state-f" [(ngModel)]="filter.state">
          <option hidden [ngValue]="undefined">select...</option>
          <option [ngValue]="null">select...</option>
          <option *ngFor="let state of states" [ngValue]="state.shortCode">{{state.name}}</option>
        </select>
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="sity-f">City</label>
        <input id="sity-f" type="text" [(ngModel)]="filter.city" class="form-control" name="sity-f" placeholder="City">
      </div>

      <div class="form-group col-lg-4 col-sm-6">
        <label for="contactName">Contact name</label>
        <input id="contactName" type="text" [(ngModel)]="filter.contactName" class="form-control"
               name="filterContactName"
               placeholder="Contact name">
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="contactEmail">Contact email</label>
        <input id="contactEmail" type="text" [(ngModel)]="filter.contactEmail" class="form-control"
               name="filterContactEmail"
               placeholder="Contact email">
      </div>
      <div class="form-group col-lg-4 col-sm-6">
        <label for="trade">Trades</label>
        <select class="form-control" name="trade" [(ngModel)]="filter.trade">
          <option [value]="undefined">select...</option>
          <option *ngFor="let trade of trades" [value]="trade.id">{{trade.name}}</option>
          <option value="otherTrades">Other trades</option>
        </select>
      </div>
      <div class="form-group col-lg-1 col-sm-3 prospect">
        <label> Prospect</label> <br>
        <i style="font-size:42px" [class]="filter.prospect ? 'ion-toggle-filled':'ion-toggle'"
           (click)="filter.prospect  = !filter.prospect "></i>
      </div>
      <div class="form-group col-lg-1 col-sm-3 prospect">
        <label> Active</label> <br>
        <i style="font-size:42px" [class]="filter.active ? 'ion-toggle-filled':'ion-toggle'"
           (click)="filter.active  = !filter.active"></i>
      </div>
      <div class="form-group col-lg-2 col-sm-6 search-btn search-padding-top">
        <button class="btn btn-default" (click)="onSearch()">Search</button>
      </div>
    </div>
  </div>
  <div class="addNewItem">
    <a routerLink="/settings/company/details">
      <span>Add new company</span>
      <i class="fa fa-plus-square" aria-hidden="true"></i>
    </a>
  </div>
  <div class="allTable">
    <table class="table table-hover table-line-height">
      <thead>
      <tr class="black-muted-bg">
        <th>
          <a (click)="onSort('name')" class="sorting-hover">
            Name
            <span class="iconsForName" *ngIf="sort.column =='name'">
                                <i class="fa {{sort.direction ? 'fa-chevron-down' : 'fa-chevron-up'}}"
                                   aria-hidden="true"></i>
            </span>
          </a>
        </th>
        <th>
          <a (click)="onSort('affiliate.description')" class="sorting-hover">
            Source
            <span class="iconsForName" *ngIf="sort.column =='affiliate.description'">
                                <i class="fa {{sort.direction ? 'fa-chevron-down' : 'fa-chevron-up'}}"
                                   aria-hidden="true"></i>
                            </span>
          </a>
        </th>
        <th>Country</th>
        <th>
          <a (click)="onSort('state')" class="sorting-hover">
            State
            <span class="iconsForName" *ngIf="sort.column =='state'">
                                <i class="fa {{sort.direction ? 'fa-chevron-down' : 'fa-chevron-up'}}"
                                   aria-hidden="true"></i>
                            </span>
          </a>
        </th>
        <th>City</th>
        <th>Address</th>
        <th>Trades</th>
        <th>Active</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of entities">
        <td>{{item.name}}</td>
        <td>{{item.affiliate ? item.affiliate.description : ''}}</td>
        <td>{{countrySvc.getFullCountryName(item.country)}}</td>
        <td>{{countrySvc.getFullStateName(item.country, item.state)}}</td>
        <td>{{item.city}}</td>
        <td>{{item.address}}</td>
        <td>
                        <span *ngFor="let cl of item.trades let i=index">
                            <span *ngIf="i !== 0">, </span>
                          {{cl.trade < 1 ? cl.name : getTradesById(cl.trade) }}</span>
        </td>
        <td>
          <i class="fa check-icon {{item.isActive ? 'fa-check-square-o' : 'fa-square-o'}}"
             aria-hidden="true"></i>
        </td>
        <td>
          <a class="btnHover" routerLink="{{'/settings/company/details/'+ item.id}}">
            <i class="fa fa-pencil " aria-hidden="true" data-toggle="tooltip" title="Edit"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<load-data *ngIf="showLoadData" [fullscreen]='true'></load-data>
